swagger: '2.0'
info:
  title: Default title
  description: ''
  version: '1.0'
host: cb5c3fbfeba1e307abd26704d7b56f.02.environment.api.powerplatform.com
basePath: /
schemes:
  - https
consumes: []
produces: []
paths:
  /powerautomate/automations/direct/workflows/5755044cc24c451ba3aaf8d5eecb2a83/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: WaterRestriction - Post baseline weight
      operationId: WaterRestriction-PostBaselineWeight
      description: >-
        post the baseline weight in the water restricted mice table for a water
        restricted mouse
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              WaterRestrictionGUID:
                type: string
                description: WaterRestrictionGUID
              baseline_weight:
                type: number
                format: float
                description: baseline_weight
  /powerautomate/automations/direct/workflows/27bb8dc7770142678008fb6efa4f5535/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      operationId: WaterRestriction-PostWeightAndWaterRecords
      summary: Post Weight and Water Record
      description: Post weight and water record for water restricted mice
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              date_time:
                type: string
                description: date_time
              mouse_ID:
                type: string
                description: mouse_ID
              mouse_GUID:
                type: string
                description: mouse_GUID
              water_restriction_GUID:
                type: string
                description: water_restriction_GUID
              team_GUID:
                type: string
                description: team_GUID
              operator_userGUID:
                type: string
                description: operator_userGUID
              water_total:
                type: number
                format: float
                description: water_total
              water_supplemental_provided:
                type: number
                format: float
                description: water_supplemental_provided
              water_supplemental_recommended:
                type: number
                format: float
                description: water_supplemental_recommended
              water_task:
                type: integer
                format: int32
                description: water_task
              weight:
                type: number
                format: float
                description: weight
              is_baseline_weight:
                type: boolean
                description: is_baseline_weight
              notes:
                type: string
                description: notes
              software_source:
                type: string
                description: software_source
              workstation:
                type: string
                description: workstation
              software_version:
                type: string
                description: software_version
  /powerautomate/automations/direct/workflows/77670382d812439f97bd4ea53e754d0e/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      operationId: PostMouseWeightRecord
      summary: Post Weight Record
      description: Post a weight record for a mouse
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              mouse_ID:
                type: string
                description: mouse_ID
              mouse_GUID:
                type: string
                description: mouse_GUID
              weight:
                type: number
                format: float
                description: weight
              is_baseline_weight:
                type: boolean
                description: is_baseline_weight
              date_time:
                type: string
                description: date_time
              operator_userGUID:
                type: string
                description: operator_userGUID
              notes:
                type: string
                description: notes
              workstation:
                type: string
                description: workstation
              software_source:
                type: string
                description: software_source
              software_version:
                type: string
                description: software_version
  /powerautomate/automations/direct/workflows/5dbd2f1022d946f6867fc634d4e80c03/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      operationId: WaterRestriction-UpdateTargetWeightPercent
      summary: Update Target Weight Percent
      description: Update target weight percent for water restricted mouse
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              WaterRestrictionGUID:
                type: string
                description: WaterRestrictionGUID
              updated_percent:
                type: number
                format: float
                description: updated_percent
  /powerautomate/automations/direct/workflows/67d25b67c3794aaf95a7a4e144e88fcb/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      operationId: WaterRestriction-UpdateRestrictionStatus
      summary: Water Restriction - Update Water Restriction Status
      description: >-
        Update water restriction status for a mouse in the water restriction
        table
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              water_restriction_guid:
                type: string
                description: water_restriction_guid
              updated_water_restriction_status:
                type: string
                description: updated_water_restriction_status
  /powerautomate/automations/direct/workflows/f6c21f9b55034601ada7ade802482d08/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: Get Table Data
      description: returns all data for a table
      operationId: GetTableData
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              table_name:
                type: string
                description: table_name
              columns:
                type: string
                description: columns
              filter:
                type: string
                description: filter
              order_by:
                type: string
                description: order_by
              fetch_xml:
                type: string
                description: fetch_xml
              row_count:
                type: integer
                format: int32
                description: row_count
  /powerautomate/automations/direct/workflows/2be3b0f7123e46b7b56e25dbf1c3c302/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: Get Table Names
      description: Retrieves table names in dataverse
      operationId: GetTableNames
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties: {}
  /powerautomate/automations/direct/workflows/a06172ece7f6424d9921b9f5dc7288a4/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      operationId: ValidateMouseInWaterRestrictedMiceTable
      summary: Validate Mouse in Water Restricted Mice table
      description: >-
        validate that a mouse has an active entry in the water restricted mice
        table, return data
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              mouse_GUID:
                type: string
                description: mouse_GUID
              mouse_ID:
                type: string
                description: mouse_ID
  /powerautomate/automations/direct/workflows/96827dbff24a477cb56676b7c3438bcb/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      operationId: ValidateMouseIDInMouseRegistry
      summary: Validate Mouse ID in Mouse Registry
      description: >-
        Validate mouse ID (6 digit labtracks id) is in the mouse registry,
        return data
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              mouse_ID:
                type: string
                description: mouse_ID
  /powerautomate/automations/direct/workflows/58a2ce88e82045a7881f5b47b997f565/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: Validate Email in Users Table
      operationId: ValidateEmailInSystemUsers
      description: Validate that email is in users (system users) table, return data
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              email_address:
                type: string
                description: email_address
  /powerautomate/automations/direct/workflows/a52a8daa2f8449f98fefa5d1ca96a6ae/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      operationId: ValidateMouseGUIDInMouseRegistry
      summary: Validate Mouse GUID in Mouse Registry
      description: Validate mouse GUID in mouse registry table, return data
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              mouse_GUID:
                type: string
                description: mouse_GUID
  /powerautomate/automations/direct/workflows/84b056ad37584b3e84992ded7e0b82f3/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      operationId: ValidateMouseInBehaviorTraining
      summary: Validate mouse in behavior training table
      description: Validate mouse in behavior training team table, return data
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              mouse_GUID:
                type: string
                description: mouse_GUID
              mouse_ID:
                type: string
                description: mouse_ID
definitions: {}
parameters: {}
responses: {}
security:
  - oauth2-auth: []
  - oAuthClientCredentials: []
  - certOauth: []
tags: []
securityDefinitions:
  oauth2-auth:
    type: oauth2
    flow: accessCode
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes: {}
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
  oAuthClientCredentials:
    type: oauth2
    flow: application
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes: {}
  certOauth:
    type: oauth2
    flow: application
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes: {}
