swagger: '2.0'
info:
  title: Power Platform Connector
  description: ''
  version: '1.0'
host: 8fd02505cbdee9558087f7d04a48a5.11.environment.api.powerplatform.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /powerautomate/automations/direct/workflows/6148df039f724a4da146cc793585b8d2/triggers/manual/paths/invoke:
    post:
      responses:
        '200':
          description: default
          schema: {}
      description: >-
        Posts a water record from WaterLog into the dataverse weights water
        table
      operationId: PostWaterRecord
      summary: >-
        Posts a water record from WaterLog into the dataverse weights water
        table
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              mouse_id:
                type: string
                description: mouse_id
              weight:
                type: integer
                format: int32
                description: weight
              date_time:
                type: string
                description: date_time
              water_total:
                type: integer
                format: int32
                description: water_total
              water_supplemental_provided:
                type: number
                format: float
                description: water_supplemental_provided
              water_supplemental_recommended:
                type: number
                format: float
                description: water_supplemental_recommended
              water_task:
                type: number
                format: float
                description: water_task
              user_email:
                type: string
                description: user_email
              operator_notes:
                type: string
                description: operator_notes
              workstation:
                type: string
                description: workstation
              software_source:
                type: string
                description: software_source
              software_version:
                type: string
                description: software_version
  /powerautomate/automations/direct/workflows/4be33b76ba3843058033eeb4d82b5240/triggers/manual/paths/invoke:
    post:
      responses:
        '200':
          description: default
          schema: {}
      summary: Posts a weight record from water log
      description: posts a weight record from waterlog
      operationId: PostWeightRecord
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              mouse_id:
                type: string
                description: mouse_id
              weight:
                type: integer
                format: int32
                description: weight
              date_time:
                type: string
                description: date_time
              user_email:
                type: string
                description: user_email
              operator_notes:
                type: string
                description: operator_notes
              workstation:
                type: string
                description: workstation
              software_source:
                type: string
                description: software_source
              software_version:
                type: string
                description: software_version
  /powerautomate/automations/direct/workflows/0438716ee92b4378811dbc975401decd/triggers/manual/paths/invoke:
    post:
      responses:
        '200':
          description: default
          schema: {}
      summary: Gets all data for a table by table name
      description: gets all data for a table by table name
      operationId: GetTable
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              table_name:
                type: string
                description: Table name in Dataverse
                title: table_name
            required:
              - table_name
  /powerautomate/automations/direct/workflows/70452d9b21584637a8023e3d66fc37ea/triggers/manual/paths/invoke:
    post:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties: {}
      summary: Get Table Names Power Automate Flow
      description: >-
        Triggers a Power Automate flow that fetches custom table names in
        Dataverse
      operationId: FetchTableNames
      parameters:
        - name: api-version
          in: query
          required: true
          type: integer
          default: 1
  /powerautomate/automations/direct/workflows/1370544248f046bb879dc15abffb72a6/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      description: Mouse to Water Restriction, Add Baseline Weight
      summary: Posts a baseline weight for a mouse
      operationId: PostBaselineWeight
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              mouse_id:
                type: string
                description: mouse_id
              baseline_weight:
                type: integer
                format: int32
                description: baseline_weight
              date_time:
                type: string
                description: date_time
              user_email:
                type: string
                description: user_email
              operator_notes:
                type: string
                description: operator_notes
              workstation:
                type: string
                description: workstation
              software_source:
                type: string
                description: software_source
              software_version:
                type: string
                description: software_version
definitions: {}
parameters: {}
responses: {}
security:
  - oauth2-auth:
      - https://service.flow.microsoft.com//.default
  - oAuthClientCredentials:
      - https://service.flow.microsoft.com//.default
  - certOauth:
      - https://service.flow.microsoft.com//.default
tags: []
securityDefinitions:
  oauth2-auth:
    type: oauth2
    flow: accessCode
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes:
      https://service.flow.microsoft.com//.default: https://service.flow.microsoft.com//.default
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
  oAuthClientCredentials:
    type: oauth2
    flow: application
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes:
      https://service.flow.microsoft.com//.default: https://service.flow.microsoft.com//.default
  certOauth:
    type: oauth2
    flow: application
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes:
      https://service.flow.microsoft.com//.default: https://service.flow.microsoft.com//.default
