swagger: '2.0'
info:
  title: Power Platform Connector
  description: ''
  version: '1.0'
host: 8fd02505cbdee9558087f7d04a48a5.11.environment.api.powerplatform.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /powerautomate/automations/direct/workflows/6148df039f724a4da146cc793585b8d2/triggers/manual/paths/invoke: {}
  /powerautomate/automations/direct/workflows/4be33b76ba3843058033eeb4d82b5240/triggers/manual/paths/invoke: {}
  /powerautomate/automations/direct/workflows/0438716ee92b4378811dbc975401decd/triggers/manual/paths/invoke:
    post:
      responses:
        '200':
          description: default
          schema: {}
      summary: Gets all data for a table by table name
      description: gets all data for a table by table name
      operationId: GetTable
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              table_name:
                type: string
                description: Table name in Dataverse
                title: table_name
              columns:
                type: string
                description: Comma-separated column names to select from the table
                title: columns
              filter:
                type: string
                description: OData-style filter expression
                title: filter
              order_by:
                type: string
                description: NOT IMPLEMENTED - OData-style orderby expression
                title: order_by
              fetch_xml:
                type: string
                description: NOT IMPLEMENTED - Fetch XML query for advanced customization
                title: fetch_xml
              row_count:
                type: integer
                description: NOT IMPLEMENTED - Number of rows to return, default 2000
                title: row_count
            required:
              - table_name
  /powerautomate/automations/direct/workflows/70452d9b21584637a8023e3d66fc37ea/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: get table names
      description: get table names
      operationId: GetTableName
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
  /powerautomate/automations/direct/workflows/1370544248f046bb879dc15abffb72a6/triggers/manual/paths/invoke: {}
  /powerautomate/automations/direct/workflows/1c3c611c372246cd86d8597774beeafe/triggers/manual/paths/invoke: {}
  /powerautomate/automations/direct/workflows/f970e9425e6148aabdbb6a316802e92e/triggers/manual/paths/invoke: {}
  /powerautomate/automations/direct/workflows/d29134243d37405989d740693cf74eab/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: validate mouse in Water Restriction, return data
      description: validate mouse in Water Restriction, return data
      operationId: ValidateMouseInWaterRestriction
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              mouse_ID:
                type: string
                description: mouse_ID
              mouse_GUID:
                type: string
                description: mouse_GUID
  /powerautomate/automations/direct/workflows/00ebb4b476e84e999d10d1034cf13492/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: Post Weight and Water Record
      operationId: PostWeightAndWaterRecords
      description: post weight and water record for water restricted mouse
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              date_time:
                type: string
                description: date_time
              mouse_ID:
                type: string
                description: mouse_ID
              mouse_GUID:
                type: string
                description: mouse_GUID
              water_restriction_GUID:
                type: string
                description: water_restriction_GUID
              team_GUID:
                type: string
                description: team_GUID
              operator_userGUID:
                type: string
                description: operator_userGUID
              water_total:
                type: number
                format: float
                description: water_total
              water_supplemental_provided:
                type: number
                format: float
                description: water_supplemental_provided
              water_supplemental_recommended:
                type: number
                format: float
                description: water_supplemental_recommended
              water_task:
                type: integer
                format: int32
                description: water_task
              weight:
                type: number
                format: float
                description: weight
              is_baseline_weight:
                type: boolean
                description: is_baseline_weight
              notes:
                type: string
                description: notes
              software_source:
                type: string
                description: software_source
              workstation:
                type: string
                description: workstation
              software_version:
                type: string
                description: software_version
  /powerautomate/automations/direct/workflows/2aca0c8f806f4403a57c9ebdb44ecc2f/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: validate mouse_ID in Mouse Registry, return data
      description: validate mouse_ID in Mouse Registry, return data
      operationId: ValidateMouseIDInMouseRegistry
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              mouse_ID:
                type: string
                description: mouse_ID
  /powerautomate/automations/direct/workflows/fd45230267514933bd9e79a37e207e58/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: validate email in Users, return data
      description: validate email in Users, return data
      operationId: ValidateEmailInUsers
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              email_address:
                type: string
                description: email_address
  /powerautomate/automations/direct/workflows/51d8892464a94b0690310a88d2c6ebd8/triggers/manual/paths/invoke: {}
  /powerautomate/automations/direct/workflows/7d8cc42d4198490f82d60659142cb848/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: Post Weight Record
      description: Post Weight Record
      operationId: PostWeightRecord
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              date_time:
                type: string
                description: date_time
              mouse_ID:
                type: string
                description: mouse_ID
              mouse_GUID:
                type: string
                description: mouse_GUID
              operator_userGUID:
                type: string
                description: operator_userGUID
              weight:
                type: number
                format: float
                description: weight
              is_baseline_weight:
                type: boolean
                description: is_baseline_weight
              notes:
                type: string
                description: notes
              software_source:
                type: string
                description: software_source
              workstation:
                type: string
                description: workstation
              software_version:
                type: string
                description: software_version
  /powerautomate/automations/direct/workflows/33e400168f5142fc84e2edcf85739dc4/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: validate mouseGUID in Mouse Registry, return data
      description: validate mouseGUID in Mouse Registry, return data
      operationId: ValidateMouseGUIDInMouseRegistry
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              mouse_GUID:
                type: string
                description: mouse_GUID
  /powerautomate/automations/direct/workflows/84b056ad37584b3e84992ded7e0b82f3/triggers/manual/paths/invoke:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: validate mouse in Behavior Training, return data
      description: validate mouse in Behavior Training, return data
      operationId: ValidateMouseInBehaviorTraining
      parameters:
        - name: api-version
          in: query
          required: false
          type: integer
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              mouse_ID:
                type: string
                description: mouse_ID
              mouse_GUID:
                type: string
                description: mouse_GUID
definitions: {}
parameters: {}
responses: {}
security:
  - oauth2-auth:
      - https://orgc1997c24.crm.dynamics.com/.default
      - https://alleninstitute.crm.dynamics.com/.default
      - https://org1a8e9c9a.crm.dynamics.com/.default
      - offline_access
  - oAuthClientCredentials:
      - https://orgc1997c24.crm.dynamics.com/.default
      - https://alleninstitute.crm.dynamics.com/.default
      - https://org1a8e9c9a.crm.dynamics.com/.default
      - offline_access
  - certOauth:
      - https://orgc1997c24.crm.dynamics.com/.default
      - https://alleninstitute.crm.dynamics.com/.default
      - https://org1a8e9c9a.crm.dynamics.com/.default
      - offline_access
tags: []
securityDefinitions:
  oauth2-auth:
    type: oauth2
    flow: accessCode
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes:
      https://orgc1997c24.crm.dynamics.com/.default: https://orgc1997c24.crm.dynamics.com/.default
      https://alleninstitute.crm.dynamics.com/.default: https://alleninstitute.crm.dynamics.com/.default
      https://org1a8e9c9a.crm.dynamics.com/.default: https://org1a8e9c9a.crm.dynamics.com/.default
      offline_access: offline_access
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
  oAuthClientCredentials:
    type: oauth2
    flow: application
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes:
      https://orgc1997c24.crm.dynamics.com/.default: https://orgc1997c24.crm.dynamics.com/.default
      https://alleninstitute.crm.dynamics.com/.default: https://alleninstitute.crm.dynamics.com/.default
      https://org1a8e9c9a.crm.dynamics.com/.default: https://org1a8e9c9a.crm.dynamics.com/.default
      offline_access: offline_access
  certOauth:
    type: oauth2
    flow: application
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes:
      https://orgc1997c24.crm.dynamics.com/.default: https://orgc1997c24.crm.dynamics.com/.default
      https://alleninstitute.crm.dynamics.com/.default: https://alleninstitute.crm.dynamics.com/.default
      https://org1a8e9c9a.crm.dynamics.com/.default: https://org1a8e9c9a.crm.dynamics.com/.default
      offline_access: offline_access
