swagger: '2.0'
info:
  title: Test Dataverse Client
  description: ''
  version: '1.0'
host: 8fd02505cbdee9558087f7d04a48a5.11.environment.api.powerplatform.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /powerautomate/automations/direct/workflows/3bd68c3caf34448db7d6e2cd53602f88/triggers/manual/paths/invoke:
    post:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties: {}
      summary: Get Project PowerAutomate Flow
      operationId: FetchProjectByName
      parameters:
        - name: api-version
          in: query
          required: true
          type: integer
          default: 1
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              projectName:
                type: string
                description: Project name from Projects table
                title: projectName
      description: >-
        Triggers a PowerAutomate flow to get project data from Projects table in
        Dataverse
  /powerautomate/automations/direct/workflows/0438716ee92b4378811dbc975401decd/triggers/manual/paths/invoke:
    post:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties: {}
      operationId: FetchTableByName
      summary: Get Table Power Automate Flow
      description: >-
        Triggers a PowerAutomate flow to get a full table in Dataverse by the
        logical table name
      parameters:
        - name: api-version
          in: query
          required: true
          type: integer
          default: 1
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              tableName:
                type: string
                description: Table name in Dataverse
                title: tableName
            required:
              - tableName
  /powerautomate/automations/direct/workflows/70452d9b21584637a8023e3d66fc37ea/triggers/manual/paths/invoke:
    post:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties: {}
      summary: Get Table Names Power Automate Flow
      description: >-
        Triggers a Power Automate flow that fetches custom table names in
        Dataverse
      operationId: FetchTableNames
      parameters:
        - name: api-version
          in: query
          required: true
          type: integer
          default: 1
definitions: {}
parameters: {}
responses: {}
securityDefinitions:
  oauth2-auth:
    type: oauth2
    flow: accessCode
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes:
      https://service.flow.microsoft.com//.default: https://service.flow.microsoft.com//.default
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
  oAuthClientCredentials:
    type: oauth2
    flow: application
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes:
      https://service.flow.microsoft.com//.default: https://service.flow.microsoft.com//.default
  certOauth:
    type: oauth2
    flow: application
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes:
      https://service.flow.microsoft.com//.default: https://service.flow.microsoft.com//.default
security:
  - oauth2-auth:
      - https://service.flow.microsoft.com//.default
  - oAuthClientCredentials:
      - https://service.flow.microsoft.com//.default
  - certOauth:
      - https://service.flow.microsoft.com//.default
tags: []